export PATH=/opt/homebrew/bin:/usr/local/bin:/usr/local/sbin:~/bin:$PATH:~/go/bin

export PATH=/opt/homebrew/opt/libpq/bin:$PATH

export PATH=/opt/homebrew/opt/llvm/bin:$PATH

export LESS="-R"

export SCM_GIT_GITSTATUS_DIR="/opt/homebrew/opt/gitstatus/"

export TG_DOWNLOAD_DIR="$HOME/.cache/terragrunt"

export JAVA_HOME="$HOME/sdkman/candidates/java/current/bin"

export HISTSIZE=10000
export HISTFILESIZE=20000

export NVM_DIR="$HOME/.nvm"
