## Open man page as PDF
pman () { man -t "${1}" | open -f -a "Preview"; }

find-up () {
  path="$(pwd)"
  while [[ "$path" != "" && ! -e "$path/$1" ]]; do
    path="${path%/*}"
  done
  echo "$path"
}

## initialize maven wrapper
mvnwinit() {
  if [ $# -eq 0 ]
  then
    mvn -N io.takari:maven:wrapper
  else
    mvn -N io.takari:maven:wrapper -Dmaven=$1
  fi
}

mvnw() {
  if [[ $1 == "init" ]]; then
    mvnwinit $2
  else
    MPATH="$(find-up mvnw)"
    if [[ ! -z "$MPATH" ]]; then
      "$MPATH/mvnw" "$@"
      return $?
    else
      echo "No maven wrapper available for this project! Run mvnw init first."
    fi
  fi
}

git_org_clone() {
  ORG_NAME=$1
  ACCESS_TOKEN=$2
  GITHUB_BASE_URL=git.codecentric.de
  curl https://${GITHUB_BASE_URL}/api/v3/orgs/${ORG_NAME}/repos?access_token=${ACCESS_TOKEN} | grep -o 'git@[^"]*' | xargs -L1 git clone
}



gita() {
  for repo in $(find . -type d -d 1); do
    if [[ -d "$repo/.git" ]]; then
      echo -e "\033[0;31m>> $repo <<\033[0m"
      cd $repo
      git $@
      cd ..
    fi
  done
}

vscode () {
  VSCODE_CWD="$PWD" open -n -b "com.microsoft.VSCode" --args $* 
}
