## Open man page as PDF
pman () { man -t "${1}" | open -f -a "Preview"; }

find-up () {
  path="$(pwd)"
  while [[ "$path" != "" && ! -e "$path/$1" ]]; do
    path="${path%/*}"
  done
  echo "$path"
}


cd() { if [ $# -eq 2 ]; then builtin cd "${PWD/$1/$2}"; else builtin cd "$1"; fi }

flushDNS() {
  sudo dscacheutil -flushcache
  sudo killall -HUP mDNSResponder
  echo "DNS cache flushed"
}

function tg() {
	travelgrunt -out-file ~/.tg-path ${@} && cd "$(cat ~/.tg-path)"
}

function tt() {
	travelgrunt -top -out-file ~/.tg-path && cd "$(cat ~/.tg-path)"
}

