## Open man page as PDF
pman () { man -t "${1}" | open -f -a "Preview"; }

## initialize maven wrapper
mvnwinit() {
  if [ $# -eq 0 ]
  then
    mvn -N io.takari:maven:wrapper
  else
    mvn -N io.takari:maven:wrapper -Dmaven=$1
  fi
}

mvnw() {
  if [[ $1 == "init" ]]
  then
    mvnwinit $2
  elif [[ -f mvnw ]]
  then
    ./mvnw "$@"
    return $?
  else echo "No maven wrapper available for this project! Run mvnw init first."
  fi
}

git_org_clone() {
  ORG_NAME=$1
  ACCESS_TOKEN=$2
  GITHUB_BASE_URL=git.codecentric.de
  curl https://${GITHUB_BASE_URL}/api/v3/orgs/${ORG_NAME}/repos?access_token=${ACCESS_TOKEN} | grep -o 'git@[^"]*' | xargs -L1 git clone
}

git_pull_all() {
  for repo in $(find . -type d -d 1); do
    cd $repo
    git pull $1 $2
    cd ..
  done
}

