[user]
  email = johannes.edmeier@codecentric.de
  name = Johannes Edmeier
[core]
  autocrlf = input
    excludesfile = ~/.dotfiles/.gitignore
[pull]
    rebase = preserve

[alias]
    pr  = "!f() { git fetch -fu ${2:-$(git remote |grep ^upstream || echo origin)} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
[rebase]
	autoStash = true
[includeIf "gitdir:~/projects/invia/"]
    path = .gitconfig-invia
