[user]
  email = johannes.edmeier@steadybit.com
  name = Johannes Edmeier
	signingkey = 0E01FDDCD30A045A64401BF2BA5E1B718E414AF1
[core]
  autocrlf = input
  excludesfile = ~/.dotfiles/.gitignore

[pull]
	rebase = merges

[alias]
	pr  = "!f() { git fetch -fu ${2:-$(git remote |grep ^upstream || echo origin)} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"

[rebase]
	autoStash = true

[rerere]
	enabled = true

[submodule]
	recurse = true

[commit]
	gpgsign = true
